* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: linear-gradient(#ccc, white); */
    background-color: rgb(255, 173, 20);
    
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.562);
    padding: 30px;
    background-color: white;
}

h1 {
    margin-bottom: 10px;
}

input {
    border-radius: 15px;
    font-size: 15px;
}

.inputNome{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.inputSalario{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.divGenero{
    margin-bottom: 10px;
}

button {
    width: 100%;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
    font-size: 30px;
    user-select: none;
    margin-top: 15px;
}

button:hover {
    /* box-shadow: 0px 0px 20px black; */
    background-color: rgba(255, 20, 20, 0.829);
    border-width: 2px;
    border-color: rgb(255, 72, 0);
    color: white;
}
